/*-------------------------
    Simple reset
--------------------------*/
* {
    margin: 0;
    padding: 0;
}

/*-------------------------
    General Styles
--------------------------*/

body {

    background:url("../imgs/back.jpg") top left no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

body:before {
    content: url("../imgs/snapshotselected.png") url("../imgs/back.png") url('../imgs/cursor.png') url('../imgs/hand.png') url('../imgs/brush.png') url("../imgs/print.png") url("../imgs/printselected.png") url("../imgs/clear.png") url("../imgs/clearselected.png") url("../imgs/eraser.png") url("../imgs/eraserselected.png") url("../imgs/light.png") url("../imgs/lightselected.png") url("../imgs/medium.png") url("../imgs/mediumselected.png") url("../imgs/heavy.png") url("../imgs/heavyselected.png");
    display:none;
}
/*-------------------------
    Canvas & Cursors
--------------------------*/
.topbar{
    background: url("../imgs/top.png") top left no-repeat;
    background-size: 100%;
    height: 6.2%;
    width: 100%;
    position: absolute;
    top: 1.5%;
    z-index: 999;
}

.icon{
    position: absolute;
    height: 2.5%;
    left: 4.4%;
    top: 7.2%
}

.localimage{
    position: absolute;
    z-index: 999;
    height: 24%;
    top:16.9%;
    left: 3%;
}

.infoimage{
    position: absolute;
    z-index: 999;
    height: 35.7%;
    left: 3%;
    top:40.6%;
}

#test {
    -webkit-transform: scaleX(-1);
    position: absolute;
    z-index: 999;
    height: 21.8%;
    top:18%;
    left: 7.3%;
    -webkit-filter:saturate(1.2);
    -webkit-filter:contrast(1.2);

}

#localvid {
    -webkit-transform: scaleX(-1);
    position: absolute;
    z-index: 999;
    left: 7%;
    top: 4%;
    -webkit-filter:saturate(1.2);
    -webkit-filter:contrast(1.2);

}



.talking{
    position: absolute;
    z-index: 999;
    height: 23.7%;
    left: 3%;
    top:76%;
}



#webrtc-remotevid{

    display: none;
}
#remotecan{
    -webkit-transform: scaleX(-1);
    position: absolute;
    background: transparent;
    width: 68%;
    height: 74%;
    z-index: 994;
    left: 28%;
    top: 18%;
}


#note{
    position: absolute;
    z-index: 996;
    background: transparent;
    left: 28%;
    top: 18%;
    width: 68%;
    height: 74%;
}


#temp{
    position: absolute;
    background: transparent;
    width: 28%;
    height: 85.8%;
    z-index: 998;
    top: 12.9%;
}

#temp2{
    position: absolute;
    background: transparent;
    width: 68%;
    height: 13.4%;
    left: 28%;
    z-index: 998;
    top: 5%;
}



#paper1 {
    background: transparent;
    position: absolute;
    z-index: 997;
}


#paper{
    -webkit-transform: scaleX(-1);
    position: absolute;
    z-index: 995;
    background: transparent;
    width: 68%;
    height: 74%;
    left: 28%;
    top: 18%;
}

#dot{
    -webkit-transform: scaleX(-1);
    position: absolute;
    background: transparent;
    z-index: 996;
    width: 68%;
    height: 74%;
    left: 28%;
    top: 18%;
}

#paper2 {
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    filter: FlipH;
    transform: scale(-1, 1);
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 995;
}



.sign {
    position: relative;
}
.sign .cursor {
    position: absolute;
    width: 21px;
    height: 25px;
    background: url('../imgs/cursor.png') no-repeat -4px 0;
    z-index: 999;
}
.sign .hand {
    position: absolute;
    width: 23px;
    height: 22px;
    background: url('../imgs/hand.png') no-repeat -4px 0;
    z-index: 999;
}

.sign .brush {
    position: absolute;
    width: 22px;
    height: 24px;
    background: url('../imgs/brush.png') no-repeat -4px 0;
    z-index: 999;
}


.toolbar{
    text-align:center;
    width:68%;
    height:6%;
    position:absolute;
    top:92.8%;
    left: 28%;
    bottom: 0;
    z-index: 999;
    background-color:rgba(0,0,0,0.2);
}

.toolbar div{
    display:inline-block;
    float:left;
}


.toolbar div .selected{
    opacity: 0.8;
}

.menu{
    width:60%;
    height:100%;
}

.menu div {
    text-align:center;
    width:14.2857%;
    height:100%;
}

.print{
    background-image:url("../imgs/print.png");
    background-size:100% 100%;
}

.print:active{
    background-image:url("../imgs/printselected.png");
}

.snapshot{
    background-image: url("../imgs/snapshot.png");
    background-size: 100% 100%;
}

.snapshot:active{
    background-image: url("../imgs/snapshotselected.png");
}

.clearscreen{
    background-image:url("../imgs/clear.png");
    background-size:100% 100%;
}

.clearscreen:active{
    background-image:url("../imgs/clearselected.png");
    background-size:100% 100%;
}

.eraser{
    background-image:url("../imgs/eraser.png");
    background-size:100% 100%;
}

.eraser.selected{
    background-image:url("../imgs/eraserselected.png");
    opacity: 0;
}

.light{
    background-image:url("../imgs/light.png");
    background-size:100% 100%;
}

.light.selected{
    background-image:url("../imgs/lightselected.png");
    opacity: 0;
}

.medium{
    background-image:url("../imgs/medium.png");
    background-size:100% 100%;
}

.medium.selected{
    background-image:url("../imgs/mediumselected.png");
    opacity: 0;
}

.heavy{
    background-image:url("../imgs/heavy.png");
    background-size:100% 100%;
}

.heavy.selected{
    background-image:url("../imgs/heavyselected.png");
    opacity: 0;
}



.color{
    width:40%;
    height:100%;
}

.color div{
    width:20%;
    height:100%;
    opacity: 0.4;
}

.color1{
    background-color:#f2c617;
}
.color2{
    background-color:#c36792;
}
.color3{
    background-color:#9966d1;
}
.color4{
    background-color:#54aabf;
}
.color5{
    background-color:#8ab64c;
}

.clock{
    position: absolute;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    color: #eeeeee;
    left: 4%;
    top: 11%;
}

.remoteclock{
    position: absolute;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    color: #eeeeee;
    left: 83.3%;
    top: 11%;
}
#Weekday{
    font-size: 15px;
}
#Date{font-size: 12px;}

#remoteWeekday{
    font-size: 15px;
}
#remoteDate{
    font-size: 12px;
}

#time{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-size: 38px;
    font-weight: 300;
}
#time li{
    display: inline-block;
}
.day{
    display: inline-block;
    left: 0;
    top: 0;
}

#point{
    animation-name: clock;
    -webkit-animation-name: clock;  
    animation-duration: 3s;   
    -webkit-animation-duration: 3s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes clock {
    0% {
        opacity: 1;       
    }
    50% {
        opacity: 0.2; 
    }   
    100% {
        opacity: 1;   
    }           
}

@-webkit-keyframes clock {
    0% {
        opacity: 1;       
    }
    50% {
        opacity: 0.2; 
    }   
    100% {
        opacity: 1;   
    }           
}

.localavatar{
    position: absolute;
    z-index: 999;
    height: 6%;
    top:17.1%;
    left: 3.3%;
}

.nexticon{
    position: absolute;
    z-index: 999;
    height: 0.9%;
    left: 4.5%;
}



.nexticon1{
    top:26%;
}

.nexticon2{
    top: 28%;
}

.nexticon3{
    top: 30%;
}

.remoteavatar{
    position: absolute;
    z-index: 999;
    height: 6%;
    top:34.4%;
    left: 3.3%;
    -webkit-filter:grayscale(1);
}

